<h1>Enter Your Booking Details here!</h1>

<form action="/bookings" method="POST">
	<label>Start Date: </label>
	<input type="text" name="start_date" required>
	<label>End Date: </label>
	<input type="text" name="end_date" required>
	<input type="hidden" name="property_id" value="">
	<input type="submit" value="Confirm Your Booking!">
</form>