<h1>Post Your Properties Information Here!</h1>

<form action="/properties" method="POST">
	<label>Your Properties: </label>
	<input type="title" name="title" required>
	<label>Your Description: </label>
	<input type="description" name="description" required>
	<input type="submit" value="Post Your Property!">
</form>